html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #181818;
  color: white;
  font-family: "Poppins", sans-serif;
}

main {
  padding-top: 13.7em;
  max-width: 1200px;
  margin: 13.7rem 4rem;
}

.first {
  background-color: #7000ff;
  width: 100%;
  margin: 0 auto;
  border-radius: 1em;
  padding: 4.7em;
  margin-bottom: 2.7em;
}

.first .main-number {
  font-size: 5.5rem;
  font-weight: bold;
  margin: 0;
}

.first .main-text {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.second {
  width: 100%;
  margin: 0 auto;
  border-radius: 1em;
  padding: 4.7em;
  border: 2px solid #2e2e2e;
  margin-bottom: 2.7em;
  display: flex;
  flex-direction: column;
  row-gap: 3.6em;
  box-sizing: border-box;
}

.second .container {
  display: flex;
  gap: 1.1em;
}

.second .number {
  font-size: 3.2rem;
  margin: 0;
  font-weight: bold;
}
.second .text {
  font-size: 1.8rem;
  margin: 0;
  font-weight: regular;
}

.third {
  width: 100%;
  margin: 0 auto;
  border: 1px;
  box-sizing: border-box;
}

.third button {
  background-color: #7000ff;
  color: white;
  border-radius: 1rem;
  padding: 1em;
  font-size: 2rem;
  margin: 0;
  border: none;
  width: 100%;
  font-weight: bold;
}

.third p {
  font-size: 1.4rem;
  color: #878787;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 2.2rem;
}

@media screen and (min-width: 950px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.8em;
  }
  .first {
    margin: 0;
    flex: 1;
  }

  .second {
    margin: 0;
    flex: 2;

    flex-direction: row;
    column-gap: 5.2em;
  }
  .second .container {
    align-items: center;
  }
  .third {
    margin: 0;
    flex-basis: 100%;
  }
}

@media screen and (min-width: 1300px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 14rem auto;
    gap: 2.8em;
  }
  .first {
    margin: 0;
    flex: 1;
  }

  .second {
    margin: 0;
    flex: 2;

    flex-direction: row;
    column-gap: 5.2em;
  }
  .second .container {
    align-items: center;
  }
  .third {
    margin: 0;
    flex: 1;
  }
  .third p {
    padding: 0;
    text-align: left;
  }
}
